$app-elements-font: 'Lato', sans-serif;
$app-general-font: 'Roboto', sans-serif;

// General Colors - Make this Material color palette
$app-color-white            : #ffffff;
$app-color-blue             : #005DE2;
$app-color-blue-light       : #1976D2;
$app-color-orange           : #FF0000;
$app-color-grey-light       : #95989A;
$app-color-grey-medium-light: #646464;
$app-color-grey-medium      : #323232;
$app-color-grey-dark        : #1E1E1E;

// Fonts Sizes EM
$app-font-size-12: 0.750em;
$app-font-size-14: 0.875em;
$app-font-size-16: 1.000em;
$app-font-size-18: 1.125em;
$app-font-size-20: 1.250em;
$app-font-size-22: 1.375em;
$app-font-size-24: 1.500em;

// General Box Sizes
$app-element-property-0: 0;
$app-element-property-10: 10%;
$app-element-property-20: 20%;
$app-element-property-30: 30%;
$app-element-property-40: 40%;
$app-element-property-50: 50%;

// General Spacers
$app-spacer-1: 1%;
$app-spacer-2: 2%;
$app-spacer-3: 3%;
$app-spacer-4: 4%;
$app-spacer-5: 5%;

// Screen Breakpoints - For media queries

// xsmall
$app-breakpoint-480: 480;
$app-breakpoint-600: 600;
// small
$app-breakpoint-840: 840;
// medium
$app-breakpoint-960: 960;
// large
$app-breakpoint-1280: 1280;
$app-breakpoint-1440: 1440;
$app-breakpoint-1600: 1600;
// xlarge
$app-breakpoint-1600: 1920;
