<!-- The Full Screen Image Container -->
<div class="fullpage-container">
  <div class="container">
    <div class="row">
      <mat-card class="col">
        <mat-card-title>
          Menu
        </mat-card-title>
          <mat-card-content>
            <a routerLink="quote" mat-raised-button color="primary">New Quote</a>
            <a routerLink="" mat-raised-button color="primary">Search Application</a>
            <a routerLink="" mat-raised-button color="primary">Continue An Application</a>
            <a routerLink="" mat-raised-button color="primary">Return To Portal</a>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
