/*  SASS
------------------------------------------------*/
/*  Make the main menu background fullscreen
------------------------------------------------*/
.fullpage-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url("../../../assets/img/menu-bg.jpg");
  background-repeat: no-repeat;
}

/*  Angular Material Override
------------------------------------------------*/
.mat-card {
  margin-top: 58px;
  width: 370px;
  float: right;
  color: #E3EAED;
  text-align: center;
  background-color: #5C6775;
  padding-left: 15px;
  padding-right: 15px;
}

.mat-raised-button {
  width: 100%;
  height: 80px;
  background-color: #797F8C;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}
